.productdetail h1 {
    position: absolute;
    width: 471px;
    height: 30px;
    left: 821px;
    top: 208px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #737373;
}

.card {
    box-sizing: border-box;
    position: absolute;
    width: 534px;
    height: 468px;
    left: 311px;
    top: 2021px;
    border: 2px solid #989696;
    border-radius: 10px;
}

.sustain-image {
    width: 616px !important;
    height: 647px !important;
    left: 875px !important;
    top: 1928px !important;
}
